body, html {
        height: 100%;
        margin: 0;
}

body {
    background-color: #ffdb00;
    background-image: url("../img/donuts.jpeg");
    image-rendering: optimizeSpeed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#siteName {
    text-align: center;
    font-family: 'Mansalva', cursive;
    margin-right: 20px;
}

h4 {
    font-family: 'Mansalva', cursive;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.ready, .gonnaEat {
    margin-right: 15px;
}

.eaten {
    margin: 0 auto 30px 25px;
}

.top {
    margin-top:25px;
}

.enter_section {
    margin: 15px 15px 0 100px;
    
}
