body, html {
        height: 100%;
        margin: 0;
}

body {
    background-image: url("../img/donuts.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Mansalva', cursive;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.spacer {
    height: 60px;
}
